/demo-debug-norangeelements
/demo-debug-nospritepage
/tilegenerator-debug
/prerenderer-debug
/prerenderer-no-contracts
/prerenderer-release
/demo-debug.exe
/cdc.exe
/demo_data/main/logs/memoryLog.yaml
/dependencies/dgamevfs/cdc.obj
/dependencies/dgamevfs/unittest
/dependencies/dgamevfs/unittest.obj
*_tile/*
*_prerender/*
*.sw*
*.sv*
*~
dsss.last
dsss_objs/
demo-debug
demo-no-contracts
demo-release
wrapper
glxtrace.so
oprofile/
user_data/main/screenshots/
user_data/main/logs/
cdc
*.out
*.o
*.tbp.dir
*.ebp.dir
*.caw
*.bkp
*.bkp2
*.bkp3
*.bkp4
*.bkp5
*.bkp6
*.bkp7
*.bkp8
*.bkp9
*.exe
*.obj
*.mtl
meta/*
